.container {
  background-image: url("../../images/femida.png");
  background-size: cover;
  background-position: center center;
  padding: 176px 150px 128px;
  display: flex;
  justify-content: space-between;

  .title {
    color: #2b2b37;
    font: {
      size: 36px;
      weight: bold;
    }
    line-height: 1.4;
    border-left: 4px solid #b44f2e;
    padding-left: 24px;
    text-align: left;
    height: 92px;
    margin-bottom: 50px;
    min-width: 400px;
  }

  .blackbox {
    background: #000;
    padding: 60px 40px 35px;

    .listItem {
      display: flex;
      margin-bottom: 25px;

      .checkpoint {
        margin-right: 15px;
      }

      .text {
        text-align: left;
        .orange {
          color: #e25a3c;
          font-weight: 700;
        }
      }
    }
  }
}

@media (min-width: 720px) and (max-width: 1439px) {
  .container {
    padding: 80px;
    flex-direction: column;
  }
}
@media (min-width: 480px) and (max-width: 719px) {
  .container {
    padding: 50px;
    flex-direction: column;
    .title {
      font: {
        size: 24px;
      }
    }
    .blackbox {
      padding: 40px;
    }
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .container {
    padding: 30px;
    flex-direction: column;
    .title {
      height: 70px;
      min-width: 200px;
      margin-bottom: 45px;
      font: {
        size: 24px;
      }
    }
    .blackbox {
      padding: 20px;
    }
  }
}
@media (max-width: 319px) {
  .container {
    padding: 15px;
    flex-direction: column;
    .title {
      height: 70px;
      min-width: 200px;
      margin-bottom: 20px;
      font: {
        size: 18px;
      }
    }
    .blackbox {
      padding: 10px;
    }
  }
}
