.container {
  padding: 45px 164px 124px 164px;
  color: #111;
  text-align: left;

  .list {
    .listItem {
      padding: 30px 12px;
      border-bottom: 1px solid #111;
      .questionWrapper {
        display: flex;
        justify-content: space-between;
        p {
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
        }
        .icon {
          padding: 10px;
          transition: transform 0.3s ease;
          cursor: pointer;
        }
        .iconRotate {
          transform: rotate(180deg);
        }
      }
    }
    .answer {
      display: block;
      padding-top: 20px;
    }
  }
}

@media (min-width: 720px) and (max-width: 1439px) {
  .container {
    padding: 80px;
  }
}
@media (min-width: 480px) and (max-width: 719px) {
  .container {
    padding: 50px;
    .list {
      .listItem {
        .questionWrapper {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .container {
    padding: 30px;
    .list {
      .listItem {
        .questionWrapper {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}
@media (max-width: 319px) {
  .container {
    padding: 15px;
    .list {
      .listItem {
        .questionWrapper {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}
