.container {
  padding: 120px 150px;
  background: #fff;
  background: url("../../images/MoreAboutCourse.png");
  background-size: cover;
  color: #fff;
  .title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    border-left: 4px solid #b44f2e;
    padding-left: 24px;
    text-align: left;
    height: 92px;
    margin-bottom: 50px;
  }
  .topText {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .bottomText {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
  }
}
@media (min-width: 720px) and (max-width: 1439px) {
  .container {
    padding: 80px;
    .title {
      font-size: 28px;
      height: 68px;
    }
  }
}
@media (min-width: 480px) and (max-width: 719px) {
  .container {
    padding: 50px;
    .title {
      font-size: 24px;
      height: 48px;
    }
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .container {
    padding: 30px;
    .title {
      font-size: 20px;
      height: 36px;
    }
  }
}
@media (max-width: 319px) {
  .container {
    padding: 15px;
    .title {
      font-size: 18px;
      height: 28px;
    }
  }
}
