.container {
  padding: 30px 0 30px 165px;
  background-color: #111;
  .text {
    border-left: 4px solid #b44f2e;
    padding-left: 34px;
    color: #ffffff;
    font-size: 36px;
    font-style: normal;
    font-weight: 275;
    line-height: 130%;
    text-align: left;
  }
}
