.container {
  display: flex;
}
.leftSide {
  width: 100%;
  background-color: #111;
  padding: 40px 40px 0 150px;

  .title {
    width: 160px;
    display: flex;
    margin-bottom: 180px;
    font-family: Titillium Web, serif;

    .logo {
      margin-right: 24px;
    }
    .author {
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      width: 140px;
    }
  }
  .mainContent {
    .mainText {
      font-family: Oswald, serif;
      text-align: left;
      font-size: 76px;
      font-style: normal;
      font-weight: 400;
      line-height: 83.6px;
      text-transform: uppercase;
      margin-bottom: 35px;
      .course {
        color: #e25a3c;
      }
    }
    .subText {
      font-family: Titillium Web, serif;
      text-align: left;
      width: 508px;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      margin-bottom: 256px;
    }
  }
}
.rightSide {
  width: 100%;
  background-image: url("../../images/soldier.png");
  background-size: cover;
}
